:root {
    font-family: 'Micro 5';
}

.todo-item {
    font-family: 'Italianno';
}

.appy-micro {
    font-family: 'Micro 5';
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
